.text{
    position: relative;
    z-index: 2;
    width: 112px;
    height: 24px;
    background-color: #000000;
    font-size: 11px;
    font-weight: 100;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 26px;
    margin: 0 auto;
}

.text--light{
    background-color: #ffffff;
    color: #000000;
}
.title{
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    font-size: 38px;
    font-weight: bold;
    line-height: 38px;
    text-align: center;
    color: #222222;
    margin: 0;
    margin-top: 38px;
}

.title--light{
    color: #ffffff;
}

.subtitle{
    position: relative;
    z-index: 2;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    color: #222222;
    margin-top: 19px;
}

.subtitle--light{
    color: #ffffff;
}


// ===========================================

.header{
    position: relative;
}

.navbar {
    height: 50px;
    background-color: #212121;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 500;

    .hamburger__overflow {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: none;
        z-index: 10;
        // background-color: rgba(0, 0, 0, 0.7);
        &_active{
            display: block;
        }

    }
}

.hamburger{
    display: none;
}

.menu{
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    overflow: auto;

    &__link{
        color: #ffffff;
        font-size: 15px;
        font-weight: 300;
        transition: color .2s linear;
        &:hover {
            color: #a39595;
            text-decoration: none;
        }
    }

    &__item{
        border-right: 2px dotted black;
        padding-right: 28px;

        &:last-child{
            border-right: none;
        }
    }

}



.subheader{
    height: 84px;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    top: 50px;


    &__logo {
        display: block;
        // на случай если картинка будет больше чтобы не вылезал за пределы колонки
        max-width: 100%;
        margin-top: 16px;
    }

    &__text{
        font-size: 13px;
        font-weight: 100;
        color: rgba(255, 255, 255, 0.5);
        margin-top: 6px;
    }
    &__call{
        font-size: 12px;
        font-weight: 300;
        text-align: right;
        color: #ffffff;
        margin-top: 19px;
    }
    &__phone{
        display: block;
        font-size: 22px;
        font-weight: 400;
        text-align: right;
        color: #ffffff;
        margin-top: 8px;
        line-height: 12px;
        transition: color .2s linear;

        &:hover{
            text-decoration: none;
            color: #1eacc7;
        }
    }


    &__btn{
        width: 172px;
        height: 46px;
        box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
        border: none;
        text-transform: uppercase;
        color: #ffffff;
        background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
        text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
        font-size: 14px;
        text-align: center;
        font-weight: 400;
        border-radius: 4px;
        margin-top: 19px;
        transition: background-color .2s linear;
        &:hover {
            background-image: none;
            background-color: #338191

        }
    }
}

.promo{
    color: #ffffff;
    min-height: 800px;
    background: url(../images/Layer_3.png) center center/cover no-repeat;
    padding: 150px 0 135px 0;

    &__title{
        font-size: 60px;
        font-weight: bold;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        line-height: 60px;
        margin: 0;

    }

    &__subtitle{
        font-size: 36px;
        font-weight: bold;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        line-height: 36px;
        margin: 0;
        margin-top: 22px;

    }

    &__text{
        margin-top: 22px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.33;
        text-align: center;
    }

    &__btn{
        display: block;
        width: 259px;
        height: 63px;
        box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
        border: none;
        background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
        text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        color: #ffffff;
        margin: 118px auto 0;
        border-radius: 4px;
        outline: none;
        transition: background-color .2s linear;
        &:hover {
            background-image: none;
            background-color: #338191

        }

    }

}

.feature{
    padding: 71px 0 113px 0;

    &__photo{
        display: flex;
        width: 113px;
        height: 113px;
        background-color: #1eacc7;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin-right: 26px;

        img {
            max-width: 100%;
        }
    }
    &__block{
        display: flex;
        margin-top: 37px;
        align-items: center;

    }

    &__content{
        width: 341px;
    }

    &__content_title{
        color: #1eacc7;
        font-size: 17px;
        font-weight: 400;
        line-height: 22px;
        margin: 0;
        margin-bottom: 2px;
    }
    &__content_text{
        color: #202020;
        font-size: 15px;
        font-weight: 300;
        line-height: 22px;
    }
}

.mobile {
    min-height: 864px;
    padding: 48px 0 79px 0;
    background: url(../images/Rectangle_20.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .row{
        margin-top: 32px;
    }
    &__item{
        width: 320px;
        height: 280px;
        margin: 0 auto;
        margin-bottom: 19px;
        padding-top: 92px;
        position: relative;

        &_1{
            background: url(../images/back_item_mobile1.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &_2{
            background: url(../images/back_item_mobile2.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &_3{
            background: url(../images/back_item_mobile3.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &_4{
            background: url(../images/back_item_mobile4.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &_5{
            background: url(../images/back_item_mobile5.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &_6{
            background: url(../images/back_item_mobile6.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &_subtitle{
            font-size: 24px;
            font-weight: 400;
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
            line-height: 31px;
        }

        &_plus{
            width: 26px;
            height: 26px;
            background-color: #000000;
            border-radius: 50%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 35px;
            left: 50%;
            transform: translateX(-50%);
            cursor: pointer;

            &:before{
                content: '';
                display: block;
                width: 14px;
                height: 2px;
                background-color: #1eacc7;
                transition: 0.3s all;
            }
            &:after{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                content: '';
                display: block;
                width: 2px;
                height: 14px;
                background-color: #1eacc7;
                transition: 0.3s all;
            }
            &:hover {
                &:before, &:after{
                    background-color: #ff5656;

                }
            }

        }
    }

}

.autocar{

    &__top{
        height: 499px;
        background-color: black;
        padding-top: 57px;


    }

    &__top_photo{
        margin-top: 56px;
        img {
            max-width: 100%;
        }
    }

    &__bottom{
        height: 397px;
        padding-top: 217px;
    }

    &__bottom_text{
        margin: 0 auto;
        font-size: 17px;
        font-weight: 300;
        line-height: 25px;
        text-align: center;
        color: #222222;
        width: 297px;
    }
}

.choice{
	position: relative;
	min-height: 895px;
	padding: 57px 0 138px 0;
    background: url("../images/Rectangle_20.png") center (center / cover) no-repeat;

	&_img{
		position: relative;
		display: block;
		margin: 56px auto 0 auto;
        z-index: 2;
    }
	&_descr {
		text-align: center;
		color: #222222;
		font-size: 17px;
		font-weight: 300;
        line-height: 24px;
    }
	.black {
		position: absolute ;
		top: 0;
		left: 0;
		height: 499px;
		width: 100%;
		background-color: #070716;
        z-index: 1;
    }

}


.require{
    padding-top: 68px;
    padding-bottom: 84px;

    &__item{
        margin: 33px 0;

        &_nmb{
        margin-bottom: 0;
        }
    }

    &__item_title{
        font-size: 22px;
        font-weight: 400;
        color: #1ca8c3;
        margin-bottom: 0;
    }

    &__menu{
        list-style-type: none;
        padding-left: 50px;
        margin-top: 18px;

        &_item{
            font-size: 17px;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
            color: #222222;
            margin-bottom: 9px;
            position: relative;

            &:before{
                content: "";
                display: block;
                width: 21px;
                height: 20px;
                background: url(../images/blue.png) center (center / cover) no-repeat;
                position: absolute;
                left: -33px;
                top: 4px;

            }
        }
    }

    &__descr{
        color: #1ca8c3;
    }
    .warning{
        .require__item_title{
            color: #ff5656;
        }
        .require__menu{
            &_item{
                &:before{
                    background: url(../images/red.png) center (center / cover) no-repeat;
                }
            }
        }
    }
}


.aroundWorld{
    min-height: 717px;
    background: url(../images/Layer_33.png) center (center / cover) no-repeat;
    padding: 49px 0;
    position: relative;

    &__descr_link{
        display: block;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        color: #1fbad6;
        text-transform: uppercase;
        transition: color .2s linear;

        &:hover{
            text-decoration: none;
            color: #fff
        }
    }
}

.footer{

    padding: 14px 23px 39px 23px;

    a{
        &:hover{
            text-decoration: none;
        }

    }
    &__blue-line{
        display: block;
        border: none;
        height: 4px;
        background-color: #1ca8c3;
        width: 299px;
        margin: 0 auto;
    }

    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 32px;


    }

    &__actions{
        display: flex;
        width: 33%;

    }

    &__actions_link{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        width: 32px;
        background-color: #070716;
        border-radius: 50%;
        margin-right: 9px;

        &:last-child{
            margin-right: 0;
        }

        i {
            color: #ffffff;
            transition: all .2s linear;
        }

        &:hover{
            i {
                color: #1ca8c3;
            }
        }
    }

    &__content{
        text-align: center;
        width: 33%;
        margin: 0 auto;

    }

    &__content_title{
        a {
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 300;
            text-align: left;
            color: #070716;
            margin-right: 46px;
            transition: color .2s linear;
            &:last-child{
                margin-right: 0;
            }

            &:hover{
                color: #1ca8c3;
            }
        }
    }


    &__content_text{
        margin-top: 10px;

        a{
            font-size: 11px;
            font-weight: 300;
            letter-spacing: normal;
            text-align: left;
            color: #999999;
            text-transform: uppercase;
            margin-right: 21px;
            transition: color .2s linear;
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                color: #1ca8c3;
            }
        }
    }


    &__language{
        display: block;

        margin: 0 auto;
        font-size: 11px;
        color: #1fbad6;
        text-transform: uppercase;
        margin-top: 15px;
        font-weight: 400;
    }

    &__shops{
        width: 33%;
        display: flex;
        justify-content: flex-end;
    }
}

.xs-visible{
    display: none;
}